.modale {
  width: 185px;
  height: 106px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 4px;

  &__success {
    background-color: var(--success300Color);
  }

  &__lose {
    background-color: var(--danger200Color);
  }

  &__info {
    font-size: 16px;
  }

  &__rate {
    font-weight: 700;
    font-size: 36px;
  }
}
