body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  min-width: 320px;
  height: 100vh;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--neutral100Color);
  color: var(--primeTextColor);
}

#root {
  width: 100%;
  max-width: 640px;
}

@media(min-width: 1024px) {
  button {
    cursor: pointer;
  }
}

.app {
  height: 100vh;
}

.MuiAutocomplete-option {
  padding: 5px 0 !important;
  min-height: 15px !important;
  margin: 0 !important;
  line-height: 1.3;
  font-weight: 600;
  font-size: 14px;
  color: #8a94ae;
  cursor: default !important;
}

.MuiAutocomplete-listbox {
  padding: 11px 16px !important;
}

.MuiPaper-root {
  font-family: inherit !important;
  border-radius: 16px !important;
}
