.bets {
  padding: 6px 0;
}

.slide[data-swiper-slide-index='0'],
.slide[data-swiper-slide-index='1'] {
  div {
    background-color: var(--danger100Color);
    color: var(--danger200Color);
  }
}

.slide[data-swiper-slide-index='2'],
.slide[data-swiper-slide-index='3'] {
  div {
    background-color: var(--primary300Color);
  }
}

.slide {
  div {
    background-color: var(--primary500Color);
    color: var(--primeTextColor);
  }
}
