.balance {
  padding: 8px 16px;
  width: 100%;
  display: inline-block;
  border-radius: 16px;
  color: #60717e;
  background-color: var(--balanceButtonWrapperBgColor);
  border: var(--balanceButtonWrapperBgColor);
  outline: var(--balanceButtonWrapperBgColor);

  &__selected {
    background-color: var(--balanceButtonBgColor);
    color: #0a2737;
    border: var(--balanceButtonBgColor);
    outline: var(--balanceButtonBgColor);
  }

  &:active {
    background-color: var(--balanceButtonWrapperBgColor);
    border: var(--balanceButtonWrapperBgColor);
    outline: var(--balanceButtonWrapperBgColor);
  }

  &:focus-visible {
    background-color: var(--balanceButtonWrapperBgColor);
    border: var(--balanceButtonWrapperBgColor);
    outline: var(--balanceButtonWrapperBgColor);
  }
}
